<!-- ADMIN SCREEN {PROVIDER DETAILS} -->
<div class="t2-header-light">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-4 clearfix">
                <p class="text-left">
                    <button ng-click="back2Admin()" class="t2-btn-dark t2-btn-md" id="close-button-3">Geri</button>
                </p>
            </div>
            <div class="col-xs-4 clearfix">
                <h1 class="t2-header-title">Zaman Ayarı</h1>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>

<div class="t2-body" style="overflow-y: auto" snc-resize padding-bottom="60">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <form class="form-horizontal" role="form" name="deviceForm" novalidate>


                    <div class="form-group" ng-class="{ 'has-error' : zamanForm.timeStart.$invalid}">
                        <label class="col-sm-4 control-label">Başlangıç Saati: </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-options="n for n in timeStart" ng-model="startHour"></select>
                            <select class="form-control" ng-options="n for n in timeEnd" ng-model="startMinute"></select>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{ 'has-error' : zamanForm.timeEnd.$invalid}">
                        <label class="col-sm-4 control-label">Bitiş Saati</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-options="n for n in timeStart" ng-model="endHour"></select>
                            <select class="form-control" ng-options="n for n in timeEnd" ng-model="endMinute"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button class="btn btn-primary" ng-click="saveZaman()" id="save-provider-button">Genel Ayarları Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
