<!-- ADMIN SCREEN -->
<div class="t2-header-light">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-4 clearfix">
                <p class="text-left">
                    <button ng-click="logout()" class="t2-btn-dark t2-btn-md" id="close-button-3">Çıkış</button>
                </p>
            </div>
            <div class="col-xs-4 clearfix">
                <h1 class="t2-header-title">Android Zaman Kısıtlama Yönetim Paneli</h1>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>

<div class="t2-body" style="overflow: auto; overflow-x: hidden" snc-resize padding-bottom="60">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                <div class="btn-group btn-group-justified">
                    <a type="button" class="btn btn-default" ng-click="openTime()" id="new-provider-button"><i class="fa fa-gear"></i> Genel Ayarlar</a>
                    <a type="button" class="btn btn-default" ng-click="openGames()" id="new-providers-button"><i class="fa fa-bars"></i> Oyunlar</a>
                    <a type="button" class="btn btn-default" ng-disabled=true ng-click="createGame()" id="domain-button"><i class="fa fa-plus-square"></i> Oyun Ekle</a>
                    <a type="button" class="btn btn-default" ng-click="openScores()" id="reports-button"><i class="fa fa-bar-chart"></i> Skor Listesi</a>
                </div>
                </p>
            </div>

            <div class="col-xs-12 col-sm-6">
                <p>
                    <input class="form-control" type="text" id="adSearchKeyword" ng-model="searchKeyword" placeholder="İsme göre ara" />
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>
                    
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Cihaz Listesi</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="device in devices | orderBy:'uniqueId':false | filter:searchKeyword" ng-click="viewDevice(device)">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" ng-class="{'disabled': !device.enabled}" ng-src="images/headshot.jpg" style="width: 100px">
                            </div>
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <h4><b>{{device.uniqueId}}</b>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h5>Aygıt Adı: {{device.deviceName}}</h5>
                                            <h6>Özel Ayarları Kullan: {{device.override}}</h6>
                                            <h6>Başlangıç Saati: {{device.timeStart}}</h6>
                                            <h6>Bitiş Saati: {{device.timeEnd}}</h6>
                                            <h6>Notlar: {{device.notes}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
