<!-- ADMIN SCREEN -->
<div class="t2-header-light">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-4 clearfix">
                <p class="text-left">
                    <button ng-click="logout()" class="t2-btn-dark t2-btn-md" id="close-button-3">Çıkış</button>
                </p>
            </div>
            <div class="col-xs-4 clearfix">
                <h1 class="t2-header-title">Android Zaman Kısıtlama Yönetim Paneli</h1>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>

<div class="t2-body" style="overflow: auto; overflow-x: hidden" snc-resize padding-bottom="60">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-default" ng-click="createNewProvider()" id="new-provider-button"><i class="fa fa-user"></i> New Provider</a>
                        <a type="button" class="btn btn-default" ng-disabled="!isAuthorized([userRoles.superadmin])" ng-click="createNewProviders()" id="new-providers-button"><i class="fa fa-users"></i> New Providers</a>
                        <a type="button" class="btn btn-default" ng-disabled="!isAuthorized([userRoles.superadmin])" ng-click="openDomain()" id="domain-button"><i class="fa fa-plus-square"></i> Network</a>
                        <a type="button" class="btn btn-default" ng-click="openReports()" id="reports-button"><i class="fa fa-line-chart"></i> Reports</a>
                    </div>
                </p>
            </div>

            <div class="col-xs-12 col-sm-6">
                <p>
                    <input class="form-control" type="text" id="adSearchKeyword" ng-model="searchKeyword" placeholder="Filter by Name" />
                </p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p>
                    <select class="form-control" id="adSearchRole" ng-model="searchRole">
                        <option value="0" selected="selected">Filter by Role</option>
                        <option ng-repeat="role in roles" value="{{role.id}}">{{role.authority}}</option>
                    </select>
                </p>
            </div>

            <div class="col-xs-12 col-sm-3">
                <p>
                    <select class="form-control" id="adSearchProperty" ng-model="sortProperty">
                        <option value="">Sırala</option>
                        <option value="familyName">Last Name A-Z</option>
                        <option value="specializationName">Role A-Z</option>
                    </select>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Cihaz Listesi</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    <a class="list-group-item" ng-class="{'disabled': false}" ng-repeat="device in devices | orderBy:sortProperty " ng-click="viewProvider(provider)">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" ng-class="{'disabled': !provider.user.enabled}" ng-if="!provider.thumbnailUrl" ng-src="images/headshot.jpg" style="width: 100px">
                                <img class="media-object" ng-class="{'disabled': !provider.user.enabled}" ng-if="provider.thumbnailUrl" ng-src="{{provider.thumbnailUrl}}" style="width: 100px">
                            </div>
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <h4><b>{{device.uniqueId}} {{provider.givenName}} {{provider.middleName}} {{provider.familyName}} {{provider.suffix}}</b>
                                            </h4>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>{{provider.specialization.name}}</h4>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <h4>{{provider.facility.name}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h5>Aygıt Adı: {{device.deviceName}}</h5>
                                            <h6>Genel Ayarları Kullan: {{device.override}}</h6>
                                            <h6>Başlangıç Saati: {{device.timeStart}}</h6>
                                            <h6>Bitiş Saati: {{device.timeEnd}}</h6>
                                            <h6>Notlar: {{device.notes}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
